VITE_SITE_NAME=KASMED Trading PLC
VITE_SITE_SHORT_NAME=KASMED
VITE_API_BASE_URL=

FLASK_SECRET_KEY=replace-with-a-long-random-production-secret
FLASK_DEBUG=false
FLASK_HOST=0.0.0.0
FLASK_PORT=5001
AUTO_INIT_DB=true
MAX_UPLOAD_MB=8


CORS_ORIGINS=https://kasmedmedicalsolution.com
SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_SECURE=true

ADMIN_DEFAULT_USERNAME=admin
ADMIN_DEFAULT_PASSWORD=KasmedAdmin@2026
ADMIN_DEFAULT_FULL_NAME=KASMED Administrator


MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=kasmednd_public
MYSQL_USER=kasmednd_public
MYSQL_PASSWORD=8^_3T,e]=k?pQ@j.

VITE_CONTACT_PHONE=+251 954 085 010
VITE_CONTACT_EMAIL=kasmed@gmail.com
VITE_OFFICE_ADDRESS_LINE1=Yobek Commercial Center
VITE_OFFICE_ADDRESS_LINE2=Office A808/A809
VITE_OFFICE_ADDRESS_LINE3=Lideta Sub City, Wereda 07
VITE_OFFICE_ADDRESS_LINE4=Addis Ababa, Ethiopia
